@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F21B1B;
}
.logo{
  width: 15%;
  padding: 0px 20px;
}
.nav_link{
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 20px 20px;
  margin-right: 15px;
  float: right;
  font-family: 'Be Vietnam Pro', sans-serif;
}
nav{
  background-color: black;
  padding: 10px;
}
.nav_link:hover{
  background: #F21B1B;
}
.fondo{
 width: 100%;
 height: calc(100vh - 174px);
 position: absolute;
 z-index: -1;
}

section {
  height: calc(100vh - 174px);
}
section p1{
  position: absolute;
  width: 25%;
  margin-top: 5%;
  margin-left: 7%;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  color: lightyellow;
}
section p{
  position: absolute;
  width: 20%;    
  margin-left: 75%;
  margin-top: 25%;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  color: lightyellow;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 15px 600px;
  font-family: 'Be Vietnam Pro', sans-serif;
  text-align: -webkit-center;
}
h1{
  position: absolute;
  margin-top: 5%;
  margin-left: 32%;
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  color: lightyellow;
}
section p2{
  position: absolute;
  width: 65%;
  margin-top: 12%;
  margin-left: 32%;
  font-size: 28px;
  font-family: 'Josefin Sans', sans-serif;
  color: lightyellow;
}
.elform{
  width: 100%;
  margin-top: 3%;
  display: grid;
}
.contact-form{
  width: 100%;
  height: auto;
  flex: 50%;
}
.form_control{
  width:90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 18px;
  border-radius: 10px;
  background:#000;
  box-shadow: 7px 13px 37px #000;
  
}
.form_img{
  width: 80%;
  height: 450px;
  display: flex;
  flex: 50%;
  
}
.contact-form h6{
  font-size: 30px;
  text-align: center;
  color: #FFF;
  padding: 10px;
  margin-left: 1%;
  margin-bottom: 1%;  
  font-family: 'Poppins', sans-serif;
}
.form_controlt{
  width: 80%;
  padding: 7px;
  border-radius: 4px;
  margin-top: 2% ;
  margin-left: 10%;
  color: #FFF;
  border: 1px solid #fff;
  background: #333232;
}
label{
    font-size: 20px;
    color: #FFF;
    font-family: 'Josefin Sans', sans-serif; 
}
input.cbox1{
  color: white;
  height: 20px;
  width: 20px;
  margin-left: 10%;    
}    
.form_control p {
  height: 40px;
  color: #fff;
  margin-left: 20%;
  line-height: 40px;
  font-size: 16px;
}
.form_control .boton{
  width:80%;
  border: none;
  border-radius: 10px;
  background: #333232;
  padding: 8px 0;
  color: #FFF;
  margin-left: 10%;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;  
}

section p3{
  position: absolute;
  font-size: 65px;
  padding-top: 5%;
  margin-left:14%; 
  font-family: 'Josefin Sans', sans-serif;
  color:#F21B1B;
}

section p4{
  position: absolute;
  font-size: 65px;
  padding-top: 5%;
  margin-left:9%; 
  font-family: 'Josefin Sans', sans-serif;
  color:#fff;
}

section p5{
  position: absolute;
  font-size: 70px;
  padding-top: 5%;
  margin-left:25%; 
  font-family: 'Josefin Sans', sans-serif;
  color:#000;
}

.fancy{
  padding-top: 13%;
  text-align: center;
  z-index: 9999;
}
.box-image{
  width: 18%;
}

.novedades{
 margin-left: 135px;
 padding-top: 5%;


   
}

.nov{
   width: 250px;
   height: 350px;
   padding-top: 8%;
}